---
dependency:
  name: galaxy
driver:
  name: docker
platforms:
  - name: instance
    image: geerlingguy/docker-ubuntu${UBUNTU_MAJOR:-24}${UBUNTU_MINOR:-04}-ansible
    privileged: true
    become: yes
provisioner:
  name: ansible
  lint: |
    set -e
    yamllint .
    ansible-lint
  playbooks:
    converge: converge.yml
  config_options:
    defaults:
      roles_path: ${MOLECULE_PROJECT_DIRECTORY}/../
scenario:
  name: default
  test_sequence:
    # - lint
    - dependency
    - create
    - prepare
    - converge
    - verify
    - destroy
verifier:
  name: ansible
