---
- name: Prepare
  hosts: instance
  become: true
  tasks:
    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: yes

    - name: Install prerequisites for nvm
      ansible.builtin.apt:
        name:
          - curl
          - git
        state: present
