---
- name: Ensure personal folder exists
  ansible.builtin.file:
    path: "{{ personal_folder }}"
    state: directory
    mode: '0755'

- name: Ensure work folder exists
  ansible.builtin.file:
    path: "{{ work_folder }}"
    state: directory
    mode: '0755'

- name: Cloning .dotfiles
  ansible.builtin.git:
    repo: 'git@github.com:gonzfe05/.dotfiles.git'
    dest: "{{ personal_folder }}/.dotfiles"
    recursive: true
    update: true
    accept_hostkey: true
    force: true
    version: main

- name: Cloning ansible
  ansible.builtin.git:
    repo: 'git@github.com:gonzfe05/ansible.git'
    dest: "{{ personal_folder }}/ansible"
    recursive: true
    update: true
    accept_hostkey: true
    force: true
    version: main

- name: Cloning aleph
  ansible.builtin.git:
    repo: 'git@github.com:gonzfe05/aleph.git'
    dest: "{{ personal_folder }}/aleph"
    recursive: true
    update: true
    accept_hostkey: true
    force: true
    version: main

- name: Cloning funes
  ansible.builtin.git:
    repo: 'git@github.com:gonzfe05/funes.git'
    dest: "{{ personal_folder }}/funes"
    recursive: true
    update: true
    accept_hostkey: true
    force: true
    version: master

- name: Cloning ExpenseTracker
  ansible.builtin.git:
    repo: 'git@github.com:gonzfe05/ExpenseTracker.git'
    dest: "{{ personal_folder }}/ExpenseTracker"
    recursive: true
    update: true
    accept_hostkey: true
    force: true
    version: main

- name: Cloning customer_simulation
  ansible.builtin.git:
    repo: 'git@github.com:gonzfe05/customer_simulation.git'
    dest: "{{ personal_folder }}/customer_simulation"
    recursive: true
    update: true
    accept_hostkey: true
    force: true
    version: main

- name: Cloning obsidian
  ansible.builtin.git:
    repo: 'git@github.com:gonzfe05/Obsidian.git'
    dest: "{{ personal_folder }}/obsidian"
    recursive: true
    update: true
    accept_hostkey: true
    force: true
    version: master

- name: Cloning PoCs
  ansible.builtin.git:
    repo: 'git@github.com:gonzfe05/PoCs.git'
    dest: "{{ personal_folder }}/PoCs"
    recursive: true
    update: true
    accept_hostkey: true
    force: true
    version: main
