---
- name: Download AWS CLI
  get_url:
    url: "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip"
    dest: /tmp/awscliv2.zip

- name: Unzip AWS CLI
  unarchive:
    src: /tmp/awscliv2.zip
    dest: /tmp/
    remote_src: yes

- name: Install AWS CLI
  command: sudo /tmp/aws/install --update

- name: Check if AWS CLI is installed
  command: aws --version
  register: awscli_check
  ignore_errors: true

- name: Fail if AWS CLI is not installed
  fail:
    msg: "AWS CLI is not installed."
  when: awscli_check.rc != 0

- name: Debug AWS CLI version
  debug:
    msg: "AWS CLI version: {{ awscli_check.stdout }}"
  when: awscli_check.rc == 0

- name: Read AWS credentials
  include_vars:
    file: files/aws_credentials.yml
    name: aws_creds

- name: Read AWS config
  include_vars:
    file: files/aws_config.yml
    name: aws_config

- name: Create AWS credentials directory
  file:
    path: ~/.aws
    state: directory
    mode: '0700'

- name: Create AWS credentials file
  template:
    src: aws_credentials.j2
    dest: ~/.aws/credentials
    mode: '0600'

- name: Create AWS config file
  template:
    src: aws_config.j2
    dest: ~/.aws/config
    mode: '0600'

- name: Set AWS_PROFILE environment variable
  ansible.builtin.lineinfile:
    path: /etc/environment
    regexp: '^AWS_PROFILE='
    line: "AWS_PROFILE={{ aws_profile }}"
    state: present
  become: true
  become_user: root
