---
- name: Download nvm script
  get_url:
    url: "https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.3/install.sh"
    dest: "/tmp/nvm_install.sh"
    mode: '0755'

- name: Run nvm script
  shell: /tmp/nvm_install.sh
  environment:
    HOME: "{{ ansible_user_dir }}"

- name: Install node
  shell: |
    export NVM_DIR={{ ansible_user_dir }}/.nvm
    . "$NVM_DIR/nvm.sh"
    nvm install --lts
  environment:
    HOME: "{{ ansible_user_dir }}"
 
